<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kosmo.slowwalking"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 저장장치에 접근하기 위한 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/slow_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/slow_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SlowWalking"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        >

        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SubMenuList"/>
        <activity android:name=".WriteDiary" />
        <activity android:name=".ParentsRegister" />
        <activity android:name=".SitterRegister" />
        <activity android:name=".RegisterSelect" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MenuList" />
    </application>

</manifest>